
@*<form action="/Index" id="setLangForm" method="post" class="box">
    <div class="col-md-12">
        @Localizer[LocalizationCaptions.Save].Value
    </div>
    <input type="submit" name="" value="Dil">
</form>*@


sss