@{
    int breadCount = (int)ViewBag.BreadCount;
    List<TBBProject.Admin.Web.Helpers.BreadCrumbHelper> breadTexts=ViewBag.BreadTexts;
}

<div class="container">
    <div class="row">
        <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>@ViewBag.Header</span></h5>
            <ol class="breadcrumbs mb-0">
                @{
                    for(var i=0;i<breadCount;i++)
                    {
                        <li class="breadcrumb-item">
                            <a href="@breadTexts[(breadCount-1)-i].Url">@Localizer[breadTexts[(breadCount - 1) - i].Name].Value</a>
                        </li>
                    }
                }
            </ol>
        </div>
    </div>
</div>