<footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; @DateTime.Now.Year          <a href="#" target="_blank">TBB</a></span>
        <span class="right hide-on-small-only"></span></div>
    </div>
</footer>