.editor-field input
{
    padding:5px;
    width:80%;
}

.editor-label > label {
    padding: 5px;
    color: orangered;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.k-widget .k-window
{
    min-width:600px;
}
.seko
{
    width:83%;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
div.k-edit-form-container {
    width: auto;
    height: auto;
}

.k-checkbox-label, .k-radio-label {
    display: inline-block;
    position: relative;
    padding: 25.2px;
    vertical-align: top;
    cursor: pointer;
    border-style: solid;
    border-width: 0;
    color: black;
    margin-top: 10px;
    border-color:black;
    max-width:20%;
}

.k-checkbox {
    max-width: 20%;
}
.k-numerictextbox .k-numeric-wrap .k-input {
  padding:0px !important;
}
