@{
    Layout = "/Views/Shared/_LayoutGiris.cshtml";
}
@model ChangePasswordVM
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action="/ChangePassword" id="changePassForm" method="post" class="box">
                    <input type="text" id="Email" name="Email" data-val-email="Email" placeholder="Email">
                    <input data-val="true" data-val-required="Required" id="Password" name="Password" type="password" placeholder="Eski Şifre">
                    <input data-val="true" data-val-required="Required" id="NewPassword" name="NewPassword" type="password" placeholder="Yeni Şifre">
                    <input data-val="true" data-val-required="Required" id="RepeatNewPassword" name="RepeatNewPassword" type="password" placeholder="Yeni Şifre Tekrar">
                    <input type="submit" name="" value="Değiştir">
                </form>
            </div>
        </div>
    </div>
</div>
