@{
    Layout = "/Views/Shared/_LayoutGiris.cshtml";
}
@model ChangePasswordVM
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/MailChangePassword" id="changePassForm" method="post" class="box">
                <div class="col s6" style="text-align:left">
                    <a href="/login" class="button">@Localizer[LocalizationCaptions.Back].Value</a>
                </div>
                <input data-val="true" data-val-required="Required" id="NewPassword" name="NewPassword" type="password" placeholder="@Localizer[LocalizationCaptions.NewPassword].Value">
                <input data-val="true" data-val-required="Required" id="RepeatNewPassword" name="RepeatNewPassword" type="password" placeholder="@Localizer[LocalizationCaptions.NewPassword].Value">
                <input type="submit" name="" value="Değiştir">
                @Html.HiddenFor(i => i.Email)
            </form>
        </div>
    </div>
</div>
