
@{
    ViewData["Title"] = "UserProfile";
}
@model long
<div class="card animate fadeUp">
    <div class="card-move-up waves-effect waves-block waves-light">
        <div class="move-up white darken-1" style="min-height:500px;">
            <div class="col-md-12">
               
            </div>
        </div>
    </div>
</div>

