
<!DOCTYPE html>
<html class="loading" lang="tr" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>TBB</title>
</head>
<body class="hold-transition sidebar-mini">
    @RenderBody()
</body>
</html>